---
layout: 'deck_unit'
title: "What Is Your Thesis About?"
tags: []
description: "What should you say if someone asks you, What is your thesis about??"
depends: ['']
source: ['']
duration: 5
---

include ../../../fragments/unit_mixins


+slide_middle
  +timer-element('thesis-write-timer','180s',{hide:true})
    p.center What is your thesis about?
  .notes: :t()
    What do you say when someone asks, What is your thesis about??
    Here's what I'd say.
  .notes: :t()
    It's about shared agency.  I provide a counterexample to the leading account of shared agency,
    Michael Bratman's, and I show how a better account of shared agency can be provided by appeal to 
    interagential structures of motor representation.
  .notes: :t()
    This question, What is your thesis about? should come up in several contexts:
    \begin{enumerate}
    \item when you attend conferences and workshops
    \item when external speakers visit Warwick
    \item when you talk to faculty and other graduate students
    \item in conversation with non-philosophy friends, family and acquiantances
    \end{enumerate}
  .notes: :t()
    A surprisingly common response is the wibble.
    This is not typically going to inspire interest in your work.
    So let's start by spending, say, 15 minutes trying to do something about this.
  +show-timer('thesis-write-timer')
  .notes: :t()
    Please think about what you would say.  You have three minutes to formulate a sentence or two.
    You need to be able to say this in less than a minute.
    I will then ask you to share this sentence with some people.
  +start-timer('thesis-write-timer')
  .notes: :t()
    [You are writing a sentence or two on what your thesis is about.]
    
+slide_middle
  +timer-element('thesis-describe-timer','60s')
    p.center Your turn: 
    p.center What is your thesis about?
    p.center in less than 60 seconds
  .notes: :t()
    Now we're going to have an inner circle and an outer circle of people and the outer circle people
    will ask the person opposite them in the inner circle, What is your thesis about?
    The inner circle has less than 60 seconds to respond.
    After 60s the inner circle will rotate clockwise by one person and we'll continue.
    When we've been all the way around, we'll swap roles.
  +start-timer('thesis-describe-timer')
  .notes: :t()
    [You are asking or answering the question, What is your thesis about?]
