---
layout: 'deck_unit'
title: "Writing an Abstract"
tags: []
description: "Many people will first encounter your research through an abstract, either for your thesis or else for a talk or publication.  What is the best way to use an abstract in presenting your research?"
duration: 5
titleNotes: "Many people will first encounter your research through an abstract, either for your thesis or else for a talk or publication.  What is the best way to use an abstract in presenting your research?"
---

include ../../../fragments/unit_mixins


+slide_middle
    p.center Who will read the abstract?
    .notes: :t()
      The answer depends on what is is an abstract of, of course.
    .slide
      //- doesn't really make sense to create this grid within the grid!
      .container_12: .grid_6: .push_6
        p.em-above thesis
        p.em-above journal or conference submission
    .notes: :t()
      A thesis abstract might be read by (i) hiring committees, (ii) curious people in your research area,
      and (iii) other students.
      The abstract for a journal paper or conference talk will first be read by an editor and reviewers.
      Later it will hopefully be read by people working in your area, and especially by people
      wondering whether to read your paper or attend your talk.
    .notes: :t()
      I guess the thesis abstract has to be accessible to the widest possible audience, whereas
      this is perhaps not desirable in the case of an abstract for a talk at a specialist conference or 
      workshop; and a journal paper abstract probably falls between these extremes.

+slide_middle
  p.center What should an abstract convey?
  .notes: :t()
    What should an abstract convey?
    \begin{enumerate}
    \item your question
    \item your key findings or conclusions
    \item the structure of your work
    \item where you are starting from
    \item the quality of your writing (precision and readability)
    \end{enumerate}
    \textbf{Am I missing anything?}
  
  