---
layout: 'deck_unit'
title: "Presenting Your Research In Writing"
tags: []
description: "Presenting research in writing includes creating journal submissions, book chapters, drafts to circulate, conference submissions and your thesis."
duration: 5
titleNotes: ""
---

include ../../../fragments/unit_mixins


+slide_middle
  p.notes.show 
    span circulate your writing 
    span.often often
    span , 
    span.not-too-early not too early
    span , and 
    span.prepare-meticulously prepare meticulously
  +invert('.often')
  .notes: :t()
    Before submitting some writing to a journal certainly, and ideally to a conference as well,
    you want feedback.
    So you should circulate your work often.
    To people you know and people you don't.  (The worst that can happen is that they won't read it.)
  +uninvert_('.often')
  +invert('.not-too-early')
  .notes: :t()
    But you should not normally circulate work that you already know how you can still improve it, except 
    perhaps sometimes to your supervisor.
  .notes: :t()
    I think a good rule of thumb is this.  
    Before circulating something, I have finished it on one day
    and read the whole thing through, out loud, the next day.
    Only then is it ready to circulate.
  +uninvert_('.not-too-early')
  +invert('.prepare-meticulously')
  .notes: :t()
    And keep thinking hours in mind: the work you circulate should be meticulously prepared.
    This is true even when sharing it among friends.
    This includes:
    \begin{enumerate}
    \item the writing is precise and readable
    \item it is well within any word limits
    \item any guidelines are followed exactly (if a journal asked for double spaced, vertically oriented text in wordperfect format, do it!)
    \item there are no typos or formatting errors
    \item citations are present and complete 
    \end{enumerate}

